:root{

    --primary-color: #078BF5;
    --secondary-color:#81C7FF;

}


.navbar-logo{
    width: 100%;

    position: sticky;
    top: 0;

}

#navbar{
    /* background-color: var(--secondary-color); */
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.navbar-logo i{
    color: rgb(34, 34, 34);
    font-size: 20px;
    position: relative;
    background-color: white;

}
.menu-bars{
    
    font-size: 2rem;
    color: rgb(0, 0, 0);
    margin-left: 2%;

}
.menu-barsright{
   
    font-size: 2rem;
    color: #fff;
    margin-right: 2%;
}



.menu-bars-drawer{
    margin-top: .5rem;
    margin-left: .05rem;
    font-size: 2rem;
    color: #fff;

}

#nav-menu{
    background-color: #212121;
    width: 250px;
    height: 100vh; 
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: -100%;
    transition: 850ms ;
}

#nav-menu.active{
    left: 0px;
    transition: 350ms;
}

.nav-text{
    display: flex;
    justify-content: start;
    list-style: none;
    height: 50px;
    padding: 1rem;
    
}
.nav-text a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin-left: 1rem;    

}

.nav-text:hover{
    background-color: rgba(144, 144, 144, 0.299);
    cursor: pointer;
}

.nav-menu-items{
    width: 100%;
}

.nav-icon{
    padding-right: 1rem;
    color: #909090;
}

#youtube-logo{
    color: #ffffff;
    padding-left: 50px;
    
      
}

#navbar-toggle{
    background-color: #212121;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#navbar-toggle h1{
    color: white;
}

#navbar-toggle a{
    text-decoration: none;
}

.fa-bars {
    color: white;
}

.fa-ellipsis {
    color: white;
    align-items: center;
    justify-content: center;
}
 
.nav-section{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


@media (max-width: 500px){


.menu-bars{
   
    font-size: 2rem;
    color: #fff;

}


}












